/*estilo geral*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
}

ul li a{
 text-decoration: none;
}
/*estilo do cabeçalho*/
.header{
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin: 0px 150px;
    max-width: 1500px;
    margin-top: 30px;
}

.logo img{
    width: 150px;
}

.menu-desktop img{
    width: 30px;
}



/*estilo do Home principal*/

.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
}

.main img{
    width: 350px;
}

.btn{
    background: #ff523b;
    color: #fff;
}